## 1.Print a msg 20 times

In [1]:
i=1
while i<=20:
    print("Good Morning")
    i+=1

Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

## 2. Sum of first 20 numbers

In [1]:
i=1
add=0
while i<=20:
    add=add+i
    i+=1
print(add)

210

## 3. Print sum of user input numbers

In [2]:
num=float(input("Enter a number"))    ##325  32  3
total=0                               
while num>0:                          ##yes  yes y
    digit=num%10                       ##5   2   3
    total=total+digit                  ##5    7   10  
    num=num//10                        ##32   3   0
print("count of a number",total)

Enter a number325
count of a number 10.0

## 4.Print all even number between 1 to 100

In [2]:
i=1
while i<=100:
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## 5.Print all odd number between 1 to 100

In [4]:
i=1
while i<=100:
    if i%2!=0:
        print(i)
    i=i+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## 6. Table of a number

In [1]:
i=1
n=int(input("enter a number"))
while i<=10:
    N=n*i
    print(n,"x",i,"=",N)
    i+=1

enter a number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

## 7.Fibonnaci Series

In [4]:
## Ex=0,1,1,2,3,5,8,13,21
##    a b c
##      a b c
##        a b c
a=0
b=1
i=0
print(a)
print(b)
while i<10:
    c=a+b
    a=b
    b=c
    i+=1
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89

## 8.Palindrome number

In [11]:
num=float(input("Enter a number"))
rev_num=0                        ## 321=123
Temp=num
while num>0:                     ## 321   32   3
    digit=num%10                  ## 1   2    3
    rev_num=(rev_num*10)+digit    ## 1   2    3
    num=num//10                   ## 32  3    0
print("reverse of a number",rev_num)
if rev_num==Temp:
    print("palindrom")
else:
    print("not palindrom")

Enter a number1221
reverse of a number 1221.0
palindrom

## 9. Count no. of digit

In [1]:
num=float(input("Enter a number"))    ##325 32  3
count=0                               ##0    1   2
while num>0:                          ##yes  yes y
    num=num//10                       ##32   3   0
    count+=1                          ##1    2   3
print("count of a number",count)

Enter a number325
count of a number 3

## 10. Reverse a number

In [3]:
num=float(input("Enter a number:"))
reversed_num=0
while num>0:
    digit=num%10
    reversed_num=(reversed_num*10)+digit
    num=num//10
print("Reversed number:",reversed_num)

Enter a number:345
Reversed number: 543.0

## 11. Sum of the reverse number

In [4]:
num=float(input("Enter a number:"))
reversed_num=0
while num>0:
    digit=num%10
    reversed_num=(reversed_num*10)+digit
    num=num//10
print("Reversed number:",reversed_num)
total=0                             
while reversed_num>0:                     
    digit=reversed_num%10
    total=total+digit
    reversed_num=reversed_num//10
print("Sum of a number",total)

Enter a number:543
Reversed number: 345.0
Sum of a number 12.0

## 12.Write a program to check whether a given number is prime or not

In [16]:
num=int(input("Enter a number ="))           #19
if num<2:                                    #no
    print("It is not a prime number",num)
else:
    for i in range(2,num):                  
        if num%i==0:                        #no
            print("it's not a prime mumber",num)
            break
    else:
        print("It's a prime",num)

Enter a number =19
It's a prime 19

## 13.Print the cubes of the numbers from 1 to the given number

In [17]:
num=int(input("Enter a number: "))
i=1
while i<=num:
    print(i**3)
    i+=1

Enter a number: 4
1
8
27
64

## For loop

In [20]:
### 1. Write a program to print the following number pattern using a loop
for i in range(1,6):        
    for j in range(1,i+1):   
        print(j,end="")
    print()

1
12
123
1234
12345

In [3]:
n=int(input("enter a number"))
for i in range(n):
    for j in range(n-i):
        print(j+1,end="")
    print()

enter a number5
12345
1234
123
12
1

In [1]:
n=int(input("enter a number"))
for i in range(n,-1,-1):
    for j in range(n,i-1,-1):
        print(j,end="")
    print()

enter a number5
5
54
543
5432
54321
543210

In [11]:
n=int(input("enter a number"))          #I #J 0 1 2 3 4 
for i in range(n):                        #0  5 4 3 2 1
    for j in range(n-i):                  #1  5 4 3 2
        print(n-j,end="")                 #2  5 4 3
    print()                               #3  5 4     
                                          #4  5

enter a number5
54321
5432
543
54
5

In [1]:
n=int(input("enter a number"))          #I #J   0 1 2 3 4 
for i in range(n):                          #0  5 4 3 2 1
    for j in range(n-i-1,-1,-1):            #1  4 3 2 1
        print(j+1,end="")                   #2  3 2 1
    print()                                 #3  2 1     
                                            #4  1

enter a number5
54321
4321
321
21
1

## Alphabet pattern

In [6]:
for i in range(6): 
    for j in range(i+1): 
        print(chr(65+j),end="")
    print()

A
AB
ABC
ABCD
ABCDE
ABCDEF

In [8]:
for i in range(6): 
    for j in range(i+1): 
        print(chr(65+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE
FFFFFF

In [13]:
n=int(input("enter a number"))
for i in range(n,-1,-1):
    for j in range(0,i):
        print(chr(65+j),end="")
    print()

enter a number5
ABCDE
ABCD
ABC
AB
A

In [19]:
n=int(input("enter a number"))
for i in range(n,-1,-1):          #EEEEE
    for j in range(0,i+1):        #DDDD
        print(chr(65+i),end="")   #CC
    print()                       #BB
                                  #A

enter a number4
EEEEE
DDDD
CCC
BB
A

## Star Pattern

In [8]:
for i in range(6): 
    for j in range(i+1): 
        print("*",end="")
    print()

*
**
***
****
*****
******

In [7]:
n=int(input("enter a number"))
for i in range(n): 
    for j in range(n): 
        print("*",end="")
    print()

enter a number5
*****
*****
*****
*****
*****

In [20]:
n=int(input("enter a number"))
for i in range(n,-1,-1): 
    for j in range(0,i): 
        print("*",end="")
    print()

enter a number5
*****
****
***
**
*

In [21]:
n=int(input("enter a number"))
for i in range(n,-1,-1): 
    for j in range(i): 
        print("*",end="")
    print()

enter a number5
*****
****
***
**
*

In [22]:
for i in range(5):
    print(" " * i + "*" * (5-i))

*****
 ****
  ***
   **
    *

In [8]:
for i in range(1, 7):        
    for j in range(6-i):  
        print(" ", end="")
    for k in range(i):      
        print("*", end="")
    print()

     *
    **
   ***
  ****
 *****
******